:root {
  --font-family: 'Roboto', sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --space-lg: 1.5rem;
  --space-md: 1rem;
  --space-sm: 0.5rem;

  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}