
:root {
  --color-border: gray;
  --color-border-radius: 2px;
  --color-dark: #333333;
  --font-family: 'Roboto', sans-serif;
  --font-weight: 300;
  --font-weight-bold: 500;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
}

body {
  background-color: whitesmoke;
  color: var(--color-dark);
  font-family: var(--font-family);
  font-size: medium;
  font-weight: var(--font-weight);
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 384px; /* @TODO: Review. */
}

.container {
  padding: var(--spacing-xs);
}

.iconbtn {
  color: var(--color-dark);
  text-decoration: none;
}

.iconbtn:hover {
  filter: brightness(2);
}

.iconbtn * {
  pointer-events: none;
}

header {
  background-color: var(--color-dark);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  align-items: center;
  display: flex;
}

header .logo {
  display: inline-flex;
  flex: 0;
  margin-right: var(--spacing-xs);
}

header .title {
  flex: 1;
}

main {
  background-color: white;
  margin-top: 48px;  /* 🐒 patch */
  max-height: 768px; /* @TODO: Review. */
  overflow: scroll;
}

main .container {
  padding: var(--spacing-sm);
}

h3 {
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.data-layer-name-input {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--color-border-radius);
  display: flex;
  margin-bottom: var(--spacing-sm);
  margin-top: var(--spacing-sm);
  padding: var(--spacing-xs);
}

.data-layer-name-input i {
  color: var(--color-border);
  font-size: medium;
}

#data-layer-name {
  border: none;
  flex: 1;
  font-family: var(--font-family);
  font-size: medium;
  font-weight: var(--font-weight);
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
  padding: 0;
}

#data-layer-name:focus {
  outline: none;
}

#add-data-layer-name {
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.data-layer-name-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-layer-name-list.empty {
  margin-bottom: calc(var(--spacing-sm) * -1);
}

.data-layer-name-list li {
  background-color: lightgray;
  border-radius: var(--color-border-radius);
  display: flex;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-xs);
}

.data-layer-name-list li:last-child {
  margin-bottom: 0;
}

.data-layer-name-list li span {
  flex: 1;
  margin-right: var(--spacing-sm);
}